*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.imgLogo {
  width: 15%;
  min-width: 100px;
}

.title {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  font-size: 24px;
}

.boldy {
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input {
  width: 40%;
  min-width: 200px;
  max-width: 450px;
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.results {
  margin-top: 50px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  gap: 2px;
  margin-bottom: 30px;
}

@media(max-width: 768px) {
  .result {
    width: 65%;
  }
}
@media(max-width: 500px) {
  .result {
    width: 90%;
  }
}

.siteName {
  color: #0000ee;
  font-weight: bold;
  font-size: 20px;
}

.adress {
  color: #1f7634;
  font-weight: 600;
  font-size: 15px;
}

.description {
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.error {
  font-size: 22px;
  width: 80%;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

.loader {
  margin: auto;
  margin-top: 40px;
  width: 60%;
  gap : 10px;
  justify-content: center;
  display: none;
}

.dot {
  width : 10px;
  height: 10px;
  background-color:black;
  border-radius: 100%;
  animation : bump 0.5s ease-in infinite;
}

@keyframes bump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.dot2 {
  animation-delay: 0.1s;
}

.dot3 {
  animation-delay: 0.2s;
}